@import "tailwindcss";

:root {
}

@theme inline {
  --font-jetbrains: var(--font-JetBrainsMono);
  --color-redCustom: #ef4444;
  --color-red2Custom: rgba(255, 61, 21, 0.58);
  --color-orangeCustomLow: rgba(255, 152, 34, 0.15);
  --color-orangeCustom75: rgba(255, 152, 34, 0.75);
  --color-orangeCustom100: rgba(255, 152, 34, 0.99);
  --color-purpleCustom: #8b5cf6;
  --color-blueCustom: #3b82f6;
  --color-greenCustom: rgba(120, 198, 52, 0.4);
  --color-grayCustom: rgba(23, 22, 22, 0.75);
}
@keyframes gradientSlideX {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@keyframes gradientSlideY {
  0% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 50% 100%;
  }
}

.gradient-border-left {
  border-image: linear-gradient(to left, #ef4444, #8b5cf6, #3b82f6) 1;
}

.gradient-border-right {
  border-image: linear-gradient(to right, #ef4444, #8b5cf6, #3b82f6) 1;
}

.gradient-animation-horizontal {
  background: linear-gradient(to right, #ef4444, #8b5cf6, #3b82f6);
  background-size: 200% 200%;
  animation: gradientSlideX 4s linear infinite;
}

.gradient-animation-vertical {
  background: linear-gradient(to bottom, #ef4444, #8b5cf6, #3b82f6);
  background-size: 200% 200%;
  animation: gradientSlideY 4s linear infinite;
}

/* Gradient for horizontal line */
.gradient-line-horizontal-to-right {
  background: linear-gradient(to right, #ef4444, #8b5cf6, #3b82f6);
}

.gradient-line-horizontal-to-left {
  background: linear-gradient(to left, #ef4444, #8b5cf6, #3b82f6);
}

/* Gradient for vertical divider */
.gradient-line-vertical {
  background: linear-gradient(to bottom, #ef4444, #8b5cf6, #3b82f6);
  background-size: 200% 200%;
  animation: gradientShift 4s linear infinite;
}

/* globals.css */
.gradient-border-hover {
  position: relative;
  z-index: 0;
}

.gradient-border-hover::before {
  content: "";
  position: absolute;
  inset: -2px;
  z-index: -1;
  border-radius: 9999px; /* fully rounded */
  background: linear-gradient(to right, #ef4444, #8b5cf6, #3b82f6);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.gradient-border-hover:hover::before {
  opacity: 1;
}
